@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700;900&display=swap');
body {
    margin: 0;
    background-color: #E1E6ED;
    font-family: 'Century Gothic';
}

a:visited {
    color: #3665c3;
}

.nav-container {
    background-color:#091630;
}

.name-picture img {
    width: 250px;
    height: 250px;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
}

.nav-logo li {
    display: flex;
    list-style-type: none ;
    align-items: center;
    gap: 10%;
}

.nav-buttons ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
}

.nav-logo {
    display:flex;
    align-items: center;
    gap: 3%;
}

.nav-logo a {
    font-family: 'Century Gothic';
    font-weight: 100;
    color: white;
    padding-left: 5%;
}

.nav-logo a {
    font-family: 'League Spartan', 'sans-serif';
    font-weight: bold;    
}

.nav-logo img {
    margin-right: 1vw;
}

.nav-logo a:hover{
    cursor: pointer;
}

#nameplaceholder {
    font-family: 'League Spartan', 'sans-serif';
    font-weight: 700;
    margin: 0;
}

#resources {
    width: 28px;;
    height: 30px;
    margin-right: -1.2vw;
}

.search-bar {
    border-radius: 10px;
    margin-right: -1vw;
    padding: 0.7vh;
    margin-bottom: 0.5vh;
    width: 13vw;
    heigh;
}

/**
.nav-logo p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: white;
    position: fixed;
    padding-left: 5%;
    font-size: larger;
}
**/

.nav-buttons ul li {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: large;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

#logo {
    width: 50px;
    height: 50px;
}

.nav-buttons ul a:hover {
    cursor:pointer;
}

.login-button:active {
	position:relative;
	top:1px;
}

#dropdown {
    padding-top: 3px;
    margin-left: -1.5vw;
}

.nav-buttons ul button:active {
	position:relative;
	top:1px;
}

#mobile-p {
    display: none;
}

#dropdown-mobile {
    display: none;
}
/* MAIN GRID STARTS HERE*/


.main-container {
    display: flex;
    background-image: url('resources/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    filter: blur(1px);
    -webkit-filter: blur(0.5px);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.block-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2.5fr 0.75fr;
    grid-template-rows: 0.2fr 1fr 1.3fr;
}

.tree {
    display: flex;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-family: 'Century Gothic';
    z-index: 1;
    align-self: center;
    margin-left: 2vw;
    gap: 1vw;
}

.tree a {
    color: #3665c3;
}

.name-holder {
    background-color: #ffffff;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 10px;
    border-color: #B1B1B1;
    border-style:solid;
    border-width: 2px;
    margin-left: 4vw;
    margin-right: 1vw;
    margin-top: 2vw;
}

.balance-holder {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #B1B1B1;
    border-style:solid;
    border-width: 2px;
    margin-left: 0.3vw;
    margin-right: 4vw;
    margin-top: 2vw;
    display: grid;
    grid-template-rows: 0.33fr 0.66fr;

}

.balance-balance {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0.5vw;
    margin-top: 2vw;
    margin-left: 2vw;
    gap: 0.5vw;
    font-size: large;
}

.balance-balance #center {
    margin-left: 3vw;
    font-weight: 500;
}

.balance-requests {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1vw;
    margin-top: 0;
    margin-left: 2vw;
    font-size: large;
    gap: 0.5vw;
}

.balance-requests #center {
    font-size: medium;
    margin-left: 1vw;
    color: #929292;
}
.idk {
    grid-row: 3;
    grid-column: 1 / 3;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #B1B1B1;
    border-style:solid;
    border-width: 2px;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.name-holder {
    display: grid;
    height: ;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr 2.7fr;
}

.name-picture {
    grid-row: 1 / 5 ;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: flex-end;
}

.name-name {
    align-self: self-end;
    margin: 0.75vw;
    font-family: 'Century Gothic';
    font-size: 3vw;
    display: flex;
    gap: 1vw;
}

.bold {
    font-weight: bolder;
}

.name-id {
    margin-left: 0.75vw;
    font-family: 'Century Gothic';
    display: flex;
    align-items: center;
    gap: 5vw;
}


.name-section {
    margin-left: 0.75vw;
    font-family: 'Century Gothic';
    display: flex;
    align-items: center;
    gap: 5vw;
}

.name-buttons {
    margin-left: 0.75vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.name-buttons button {
    width: 10vw;
    height: 2.5vw;
    font-size: 1vw;
    border-radius: 5px;
}

.name-buttons button:hover {
    cursor: pointer;
}

.encompass {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-color: #fbfbfb;
    margin: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form {
    grid-row: 2 / 3 ;
    grid-column: 1;
    align-items: center;
    justify-content: center;
}
/* Style the button that is used to open the dropdown */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Position the dropdown container relative to the parent element */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
  }
  
  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change the background color of the links on hover */
  .dropdown-content a:hover {
    background-color: white;
  }      

.subjects-name-home {
    margin: 2%;
}

@media screen and (max-width:900px) {
    #resources {
        height: auto;
        width: 3.3vw;
    }
}


@media screen and (max-width:500px) {
    .nav-buttons {
        display: none;
    }
    .navbar {
        padding: 2vw;
    }
    #logo {
        margin-left: 1vh;
    }

    #dropdown-mobile {
        display: inline-flex;
        margin-left: 42vw;
    }
}

@media screen and (max-width:480px) {
    #dropdown-mobile {
        display: inline-flex;
        margin-left: 15.5vw;

    }
}

@media screen and (max-width:400px) {
    #dropdown-mobile {
        display: inline-flex;
        margin-left: 10vw;
    }
}

/* MEDIA QUERIES FOR CARD*/